.Rproj.user
.Rhistory
.RData
.Ruserdata
COMET-Extract-APD.xlsx
COMET-Extract-APD.csv
APD_2018-04_2019-04.xlsx
APD_2019-04_2019_10.xlsx
APD_Output.csv
APD_Output.xlsx
APD_report.html
APD_report_cache
APD_report_files
APD_report.knit.md
APD_report.log
APD_report.tex
APD_report.utf8.md
