.Rproj.user
.Rhistory
.RData
.Ruserdata
COMET-Extract-APD.xlsx
COMET-Extract-APD.csv
APD_2018-04_2019-04.xlsx
APD_2019-04_2019_10.xlsx
APD_Output.csv
APD_Output.xlsx
APD_report.html
APD_report_cache
APD_report_files
APD_report.knit.md
APD_report.log
APD_report.tex
APD_report.utf8.md
APD_2008.csv
APD_2009.csv
APD_2010.csv
APD_2011.csv
APD_2012.csv
APD_2013.csv
APD_2014.csv
APD_2015.csv
APD_2016.csv
APD_2017.csv
APD_2018.csv
APD_2019.csv
APD_2020.csv
APD_2021.csv
APD_2021.xlsx
APD_report-2018.pdf
APD_report-2019.pdf
APD_report-2020.pdf
APD_report_2020.pdf
APD_report_2021.pdf
April2021.csv
April2021.xlsx
Dec2013.csv
Dec2013.xlsx
MAR2020.csv
MAR2020.xlsx
RDHAPD_2011.xlsx
RDHAPD_2012.xlsx
RDHAPD_2013.xlsx
RDHAPD_2014.xlsx
RDHAPD_2015.xlsx
RDHAPD_2016.xlsx
RDHAPD_2017.xlsx
RDHAPD_2018.xlsx
RDHAPD_2019.xlsx
RDHAPD_2020.xlsx
RDHAPD_2021.xlsx
nointervention_patientsAPD_2019.csv
nointervention_patientsAPD_2020.csv
nointervention_patientsAPD_2021.csv
patients_2017.csv
patients_2021.csv
savings2APD_2021.csv
savingsAPD_2008.csv
savingsAPD_2009.csv
savingsAPD_2010.csv
savingsAPD_2011.csv
savingsAPD_2012.csv
savingsAPD_2013.csv
savingsAPD_2014.csv
savingsAPD_2015.csv
savingsAPD_2016.csv
savingsAPD_2017.csv
savingsAPD_2018.csv
savingsAPD_2019.csv
savingsAPD_2020.csv
savingsAPD_2021.csv
APD_2015-2021
APD_RDH_2020-07_2021-06.xlsx
COMET-Extract-APD.txt
